{% load static %}
<nav class="navbar">         
    <a href="navbar.html" class="logo">
        <img src="{% static '.' %}" alt="Popularity Corner Logo" height="130" width="200">
    </a>
    <ul>
        <li><a href="#" class="tabs">Accueil</a></li>
        <li><a href="#" class="tabs">À propos</a></li>
        <li><a href="#" class="tabs">Testez</a></li>
        <li><a href="#" class="tabs">Contact</a></li>
    </ul>
    <ul>
        <li><a href="#" class="button">Inscription</a></li>
        <li><a href="#" class="button">Connexion</a></li>
    </ul>
</nav>