{% extends '../base.html' %}
{% load static %}

{% block title %}
    Contact - Popularity Corner
{% endblock title %}

{% block header %}
    {% include './includes/navbar.html' %}
{% endblock header %}

{% block body %}
<div class="card-deck" style="margin: auto">
    <div class="card" style="border-radius: 30px">
      <img class="card-img-top" src="{% static 'media/antonin.jpg' %}" alt="Card image cap" style="border-radius: 30px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7)">
      <div class="card-body">
        <h5 class="card-title">Antonin</h5>
        {% comment %} <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> {% endcomment %}
      </div>
      <div class="card-footer">
        <small class="text-muted">Docker master</small>
      </div>
    </div>
    <div class="card" style="border-radius: 30px">
      <img class="card-img-top" src="{% static 'media/manon.jpeg' %}" alt="Card image cap" style="border-radius: 30px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7)">
      <div class="card-body">
        <h5 class="card-title">Manon</h5>
        {% comment %} <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p> {% endcomment %}
      </div>
      <div class="card-footer">
        <small class="text-muted">Data Scientist master</small>
      </div>
    </div>
    <div class="card" style="border-radius: 30px">
      <img class="card-img-top" src="{% static 'media/maxime.jpg' %}" alt="Card image cap" style="border-radius: 30px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7)">
      <div class="card-body">
        <h5 class="card-title">Maxime</h5>
        {% comment %} <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p> {% endcomment %}
      </div>
      <div class="card-footer">
        <small class="text-muted">Airflow master</small>
      </div>
    </div>
    <div class="card" style="border-radius: 30px">
        <img class="card-img-top" src="{% static 'media/agathe.jpeg' %}" alt="Card image cap" style="border-radius: 30px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7)">
        <div class="card-body">
            <h5 class="card-title">Agathe</h5>
            {% comment %} <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p> {% endcomment %}
        </div>
        <div class="card-footer">
            <small class="text-muted">Azure master</small>
        </div>
    </div>
  </div>
{% endblock body %}


{% block footer %}
    {% include './includes/footer.html' %}
{% endblock footer %}