
{% block body %}
        <br/><br/><br/><br/>
        <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                        <label for="username">Nom d'utilisateur</label>
                        <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Nom d'utilisateur">
                </div>
                <div class="form-group">
                        <label for="exampleInputPassword1">Mot de passe</label>
                        <input type="password" class="form-control" name="password" placeholder="Mot de passe">
                </div>
                      <button type="submit" class="btn ">Connexion</button>
        </form>
        <br/><br/><br/><br/>

{% endblock %}