{% extends '../base.html' %}
{% load static %}

{% block title %}Inscription - Popularity Corner{% endblock title %}

{% block extra-head %}
    <link rel="stylesheet" href="{% static 'client/public/forms.css' %}">
{% endblock extra-head %}

{% block header%}
    {% include './includes/navbar.html' %}
{% endblock header%}


{% block body %}
<div class="register-container">
    <div class="form-box">
        <h2 class="form-title"> Inscription </h2>
        <form action="{% url 'register' %}" method="POST" class="form">
            {% csrf_token %}
            {% for field in form %}
                <div class="input-container">
                    <input type="{{ field.field.widget.input_type }}" id="{{ field.auto_id }}" name="{{ field.html_name }}" class="input-field">
                    <label for="{{ field.auto_id }}" class="field-label">{{ field.label }}</label>
                </div>
            {% endfor %}
            <input type="submit" value ="S'inscrire" class="form-btn form-btn-secondary">
        </form>
    </div>
</div>
{% endblock body %}


{% comment %} ! Le Footer  {% endcomment %}
{% block footer %}
    {% include './includes/footer.html' %}
{% endblock footer%}