{% load static %}
<nav class="navbar">         
    <a href="{% url 'home' %}" class="logo">
        <img src="{% static 'media/popularity_corner.png' %}" alt="Popularity Corner Logo" height="120" width="200">
    </a>
    <ul>
        <li><a href="#" class="tabs">Accueil</a></li>
        <li><a href="#" class="tabs">À propos</a></li>
        <li><a href="#" class="tabs">Testez</a></li>
        <li><a href="#" class="tabs">Contact</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'login' %}" class="button">Inscription</a></li>
        <li><a href="#" class="button">Connexion</a></li>
    </ul>
</nav>