{% extends '../base.html' %}
{% load static %}

{% block title %}
    Résultats - Popularity Corner
{% endblock title %}

{% block header %}
    {% include 'public/includes/navbar.html' %}
{% endblock header %}

{% block body %}
{% load mathfilters %}

<div class="header-section">
    <h1>Résultat</h1>
    <h2>Performance des prédictions</h2>
    <h4>Erreur moyenne : {{rmse|floatformat:0}}</h4>
    <div class="divider"></div>
</div>

<ul class="movie-list">
    {% for resultat in resultats %}
    {% if resultat.prediction is not None %}
    <li class="movie-item">
        <div class="text-resultats">
        <p><strong>{{resultat.title}}</strong></p>
        <p>Date : {{resultat.week}}</p>
        <p>Résultats réels : {{resultat.entrance}}</p>
        <p>Prédiction : {{resultat.prediction|floatformat:0}}</p>
        <p> Pourcentage d'erreur : {{ resultat.prediction|sub:resultat.entrance|div:resultat.entrance|mul:100|floatformat:2 }}%</p>
        </div>
        <img src={{resultat.image}} alt={{resultat.title}}>
    </li>
    {% endif%}
    {% endfor %}
</ul>

{% endblock body %}


{% block footer %}
    {% include 'public/includes/footer.html' %}
{% endblock footer %}

