{% load static %}
<div class="footer-section">
    <div class="title">
        <h3> Navigation</h3>
    </div>
    <ul>
        <li><a href="{% url 'home' %}" class="tabs">Accueil</a></li>
        <li><a href="{% url 'about' %}" class="tabs">À propos</a></li>
        <li><a href="{% url 'contact' %}" class="tabs">Contact</a></li>
    </ul>
</div>
<div class="footer-section">
    <div class="title">
        <h3> Contactez-nous</h3>
    </div>
    <p>Email: info@example.com</p>
    <p>Tél: 123-456-7890</p>
    <p><a href="#">Formulaire de contact</a></p>
</div>
<div class="footer-section">
    <div class="title">
        <h3> À propos de nous</h3>
    </div>
    <p>Nous prédisons les entrées des films en utilisant la puissance de l'Intelligence Artificielle.</p>
    <p>© 2023 Popularity Corner, Tous droits réservés</p>
</div>